.header__p {
  font-family: "Orbitron", serif;
  font-size: 0.75rem;
}

.header__link {
  font-family: "Poppins", serif;
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
}

.login__title {
  font-family: "Poppins", serif;
  font-size: 2rem;
  color: #FFFFFF;
}

input::-moz-placeholder {
  font-family: "Orbitron", serif;
  font-size: 0.9rem;
  color: #FFFFFF;
}

input::placeholder, .login__input {
  font-family: "Orbitron", serif;
  font-size: 0.9rem;
  color: #FFFFFF;
}

.box {
  width: 125px;
  height: 40px;
  display: flex;
}
.box__btn {
  width: 150px;
  height: 50px;
  background-color: #AB0000;
  border: none;
  border-radius: 2px;
  color: aliceblue;
  font-family: "Orbitron", serif;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box__btn:hover {
  background-color: #bd0e0e;
  cursor: pointer;
}
.box__triangle {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 18px solid rgb(0, 0, 0);
  border-left: 19px solid transparent;
  position: relative;
  top: 33px;
  left: 132px;
}

.box2__btn2 {
  width: 150px;
  height: 50px;
  background-color: #AB0000;
  border: none;
  border-radius: 2px;
  color: aliceblue;
  font-family: "Orbitron", serif;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box2__btn2:hover {
  background-color: #bd0e0e;
  cursor: pointer;
}

.separation {
  width: 100%;
  height: 0.3rem;
  background-color: #AB0000;
  border: none;
  opacity: 0.35;
  margin: 1rem;
}

.header {
  height: 10vh;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__logo h1 {
  font-family: "Aref Ruqaa", serif;
  font-style: italic;
  margin: 0;
  color: #AB0000;
}
.header__p {
  margin-left: 5px;
  margin-top: 0;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}
.header__none {
  display: none;
}

.nav__toggler {
  display: none;
}

@media only screen and (max-width: 800px) {
  .box {
    display: none;
  }
  .header__none {
    display: block;
    text-decoration: none;
  }
  .header__logo {
    position: fixed;
    top: 2rem;
    left: 2rem;
  }
  .nav__toggler {
    position: fixed;
    width: 3rem;
    height: 3rem;
    top: 3rem;
    right: 2rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: transparent;
    z-index: 2;
  }
  .line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #AB0000;
    transition: transform 0.3s ease-out, opacity 0.2s ease-out;
  }
  .l1 {
    transform: translateY(-15px);
  }
  .l3 {
    transform: translateY(15px);
  }
  .nav__toggler.active .l1 {
    transform: rotate(45deg);
  }
  .nav__toggler.active .l2 {
    opacity: 0;
  }
  .nav__toggler.active .l3 {
    transform: rotate(-45deg);
  }
  .header__nav {
    width: 100%;
    min-height: 50vh;
    background: #000000;
    border-bottom: 1px solid #AB0000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s ease-in;
    transform: translateY(-100%);
    position: relative;
    z-index: 2;
  }
  .header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__nav.active {
    transform: translateY(40%);
  }
}
.login {
  background-image: url("../../assets/Images/Images/Background.jpg");
  opacity: 0.25;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.login__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 3.3rem;
  top: 30%;
  position: absolute;
}
.login__title {
  text-transform: uppercase;
}
.login__input {
  background-color: transparent;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  height: 2.7rem;
  width: 17rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #000000;
}

ol, ul {
  list-style: none;
}

p {
  color: #969090;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  color: #AB0000;
  border-bottom: 2px solid #AB0000;
  cursor: pointer;
}

input::-moz-placeholder {
  padding-left: 0.8rem;
}

input::placeholder {
  padding-left: 0.8rem;
}

input:focus {
  outline: none;
}/*# sourceMappingURL=style.css.map */